<div>
   <div class="container">
        <input type="checkbox" name="" id="check" />
  
        <div class="logo-container">
          <img src="/assets/images/logo2.png" alt="" srcset="" />
        </div>
  
        <div class="nav-btn">
          <div class="nav-links">
            <ul>
              <li class="nav-link" style="--i: 0.6s">
                <a href="#">Contractor List</i></a>
              </li>
              <li class="nav-link" style="--i: 0.85s">
                <a href="#">Search Design</a>
                    <li class="dropdown-link">
                    </li>
              </li>
              </li>
              <li class="nav-link" style="--i: 1.35s">
                <a href="#">About us</a>
              </li>
            </ul>
          </div>
  
          <div class="log-sign" style="--i: 1.8s">
          </div>
        </div>
  
        <div class="hamburger-menu-container">
          <div class="hamburger-menu">
            <div></div>
          </div>
        </div>
      </div>
      <div>
        <form action="">
          <div class="profile">
            <img
              src="/assets/images/undraw_male_avatar_323b (1).svg"
              alt=""
              
            />
          </div>
            <div  class="info">
              <label for="Name">{{{Fullname}}}</label>
              <label for="Address">{{{Address}}}</label>
              <label for="Email">{{{EmailAddress}}}</label>
            </div>
            <div class="button">
                <input type="button" value="Chat" onclick="openForm()" class="btnedit">
  
  
              </div>
        </form>

        </div>

          <hr>
          <div class="main" id="myportfolio">
      
            
            <h2 style="font-family: 'Paytone One', sans-serif; color: white;">MY TOP PROJECTS</h2>
            
            {{!-- <div class="btn-pick" id="myBtnContainer">
              <button class="btn active" onclick="filterSelection('all')"> Show all</button>
              <button class="btn" onclick="filterSelection('nature')"> Bungalow Type</button>
              <button class="btn" onclick="filterSelection('cars')"> Two Storey Type</button>
              <button class="btn" onclick="filterSelection('people')"> Modern Type</button>
            </div> --}}
            
            <!-- Portfolio Gallery Grid -->
            <div class="row">
             {{#each Houses}}
              <div class="column nature">
                <div class="content">
                  <img src='{{{frontView}}}'alt="Mountains" class="i" style="width:100%">
                  <div class="edit">
                    <form onsubmit='return Viewdetailsprofile(event)' >
                    <input  class="bt-edit" type="submit" value="View Details" />
                    <input type='hidden' value='{{{_id}}}' name='id' />
                    </form>                   
                     </div>
                </div>
              </div>
            {{/each}}
      </div>
      <div id="id01" class="w3-modal w3-animate-opacity" style="overflow: hidden;">
        <div class="w3-modal-content w3-card-4" style="border-radius: 10px;">
          <header class="w3-container " style="border-top-left-radius: 10px; border-top-right-radius: 10px;"> 
            <span onclick="document.getElementById('id01').style.display='none'" 
            class="w3-button w3-large w3-display-topright" style="border-top-right-radius: 10px;">&times;</span>
            <h4 style="color: white; text-align:center; font-family: 'Paytone One', sans-serif;
            ">House Details</h4>
          </header>
          <div class="w3-container">
            <div class="grid-container " style="   padding: 10px;
            display: grid; align-items: center; justify-content: center; grid-template-columns: auto auto;">
              <div class="grid-item" style="margin: 10px;"> <img src="/assets/images/beautiful-bungalow-house-design-ideas-18.png" alt="" id="front-image" srcset="" style=" border-radius: 10px; margin-top: 2%; height: 20vh; width: 100%;">
              </div>
              <div class="grid-item"  > <img src="/assets/images/beautiful-bungalow-house-design-ideas-18.png" alt="" srcset="" id="side-image" style=" border-radius: 10px; margin-top: 2%; height: 20vh; width: 100%;">
              </div>
              <div class="grid-item"  style="margin: 10px;" > <img src="/assets/images/beautiful-bungalow-house-design-ideas-18.png" alt=""  id="rear-image" srcset="" style=" border-radius: 10px; margin-top: 2%; height: 20vh; width: 100%;">
              </div>  
              <div class="grid-item"   > <img src="/assets/images/beautiful-bungalow-house-design-ideas-18.png" alt="" id="inside-image" srcset="" style=" border-radius: 10px; margin-top: 2%; height: 20vh; width: 100%;">
              </div> 
            </div>
          </div>
            <div class="details">
            <div class="dtls">
              <h2>House Price:<h3 id="houseprice"></h3></h2>
              <h2>House Type:<h3 id="housetype"></h3></h2>
              <h2>BedRooms:<h3 id="bedrooms"></h3></h2>
            </div>   
            <div class="send">
              <h2>Lot Size:<h3 id="lotsize" ></h3></h2>
              <h2>Cr:<h3 id="cr" ></h3></h2>
              
            </div>         
          </div>
          <footer class="w3-container ">
          </footer>
        </div>
      </div>

      <div class="chat-popup" id="myForm">
        <form action="/action_page.php" class="form-container">
          <h1>Send Message</h1>
      
          <textarea style="font-family: sans-serif;" placeholder="Type message.." name="msg" required></textarea>
      
          <button type="submit" class="btn">Send</button>
          <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
      </div>
</div>